## Задача 1:
На складе лежат разные фрукты в разном количестве.  
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество,  
а возвращает общее количество фруктов на складе, при помощи использования kwargs.

In [1]:
def sum_fruits (**kwargs):
    summa=0
    for i in kwargs.values():
        summa+=i
    return (f'Общее количество фруктов: {summa}')

In [4]:
sum_fruits(mango=5, apple=20, banana=30, lemon=10)

'Общее количество фруктов: 65'

## Задача 2:  
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину.  
Удалите такие значения из списка и посчитайте суммарные затраты. Используйте list comprehensions.  
[100, 125, -90, 345, 655, -1, 0, 200]

In [8]:
expenses = [100, 125, -90, 345, 655, -1, 0, 200]
for i in expenses:
    if i < 0:
        expenses.remove(i)
print(expenses)
print(sum(expenses))

[100, 125, 345, 655, 0, 200]
1425

In [9]:
expenses = [100, 125, -90, 345, 655, -1, 0, 200]
result = sum([i for i in expenses if i > 0])
result

1425

## Задача 3:  
Даны два списка:  
Дата покупки.  
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']  
Суммы покупок по датам.  
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275,  
4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### Условие 3.1  
Найдите, какая выручка у компании в ноябре. Используйте list comprehensions.

In [14]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
incomes = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [15]:
result = sum([incomes[i] for i in range(len(dates)) if dates[i].split('-')[1]=='11'])
f'Общая выручка у компании в ноябре = {result}'

'Общая выручка у компании в ноябре = 25098'

### Условие 3.2  
Найдите выручку компании в зависимости от месяца.  
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой,  
а на выходе словарь, где ключи - это месяцы, а значения - это выручка.  
Используйте аннотирование типов.

In [21]:
def income_in_month(dates=list, incomes=list) -> dict:
    revenue_by_months={}
    
    for i in range(len(dates)):
        month=dates[i].split('-')[1]
        if month in revenue_by_months:
            revenue_by_months[month]+=incomes[i]
        else:
            revenue_by_months[month]=incomes[i]
    return revenue_by_months

In [24]:
income_in_month(dates,incomes)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}